*{
    margin: 0%;
    padding: 0%;
}

.header{
    padding: 2%;
    display: flex;
   background-color: rgb(19, 18, 18);

   h1{
    font-style: italic;
    font-size: x-large;
    color: rgb(184, 181, 34);
   }
  

&__section{
        display: flex;
        margin-left: 60px;

        &__item{
            display: flex;
            list-style: none;
            align-items: center;
        }
}
}


li{
    margin-left: 20%;
    font-size: xx-large;
    
    
}

.main{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(145,139,135,1) 3%, rgba(72,131,89,1) 14%, rgba(133,78,130,1) 25%, rgba(122,97,175,1) 33%, rgba(170,169,175,1) 42%, rgba(253,230,29,1) 50%, rgba(51,115,124,1) 53%, rgba(196,129,145,1) 64%, rgba(40,162,184,1) 74%, rgba(162,131,168,1) 86%, rgba(252,176,69,1) 100%);

    h3{
        margin-left: 2%;
        color: rgb(61, 58, 59);
        font-size: larger;
        font-style: italic;
        margin-bottom: 2%;
        padding-top: 2%;
    }


.destinos{
        display: flex;
        font-size: xx-large;
        font-style: italic;
        color: darkblue;


        img{ 
            width: 85%;
            height: 80%;
            padding-left: 2%;
            
           
        }

        h4{
            background-color: rgb(238, 231, 231);
            margin-left: 5%;
            color: rgb(20, 151, 20);
            text-align: center;
        }

        &__div{
            width: 85%;
            height: 100%;

        }
    }
}


.paquetes{
    padding-top: 2%;
    display: flex;

        &__div{
            width: 90%;
            margin-bottom: 3%;
            margin-left: 2%;
            

            &__p{
                color: rgb(109, 125, 128);
                background-color: rgb(156, 154, 151);
            }

            h4{
                background-color: rgb(12, 12, 12);
                width: 80%;
                padding: 4%;
                text-align: center;
                color: rgb(83, 5, 70);
            }
        }
            &__subtitle{
                width:75%;

            }
    
    
    
    p{
        margin-left: 5%;
        margin-top: 20px;
        text-align: justify;
        width: 80%;
    }
    .imgs{
        width: 50%;
        height: 60%;
    }

}

.details{
    text-align: left;
    width:90%;
    margin-left: 5%;
    padding: 2%;
        
    &__summary{
        list-style: none;
        text-align: center;
        color: rgb(10, 10, 10);
        font-size: xx-large;
        font-style: unset;
        padding: 5%;

    &__label{
        width: 100%;
        margin-top: 2%;
    }
}
}

input{
    width: 100%;
    margin-bottom: 2%;
    background-color: rgb(165, 223, 179);
}

button{
    padding: 1%;
    color: rgb(6, 105, 129);
    
}

#input{
    height: 200px;
    background-color: rgb(135, 236, 214);
    
}

footer{
    text-align: center;
    font-size: 30px;
    color: rgb(214, 176, 6);
    padding: 2%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}